package layouts

import "github.com/AVZotov/draft-survey/web/components"

templ Layout(props components.LayoutProps) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png"/>
			<link rel="stylesheet" href="/static/css/fonts.css"/>
			<link rel="stylesheet" href="/static/css/styles.css"/>
			<link rel="stylesheet" href="/static/css/modals.css"/>
			<!--Modals CSS section -->
			<link rel="stylesheet" href="/static/css/tank-calc-modal.css"/>
			for _, css := range props.ExtraCSS {
				<link rel="stylesheet" href={ css }/>
			}
			<script src="/static/js/main.js"></script>
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/idiomorph-ext.js"></script>
			<script defer src="/static/js/mask.min.js"></script>
			<script defer src="/static/js/alpine.min.js"></script>
			<title>{ props.Title }</title>
			<meta name="Draft-Survey calculator" content={ props.MetaDescription }/>
		</head>
		<body
			hx-ext="morph"
		>
			{ children... }
			<dialog
				id="app-modal"
				hx-preserve="true"
				x-data="{dirty: false}"
				x-on:close="dirty = false"
				x-on:cancel.prevent="
				if (!dirty) {$el.close(); return }
				if (confirm('Unsaved changes. Close anyway?')) { $el.close() }
				"
			>
				<div id="app-modal-content"></div>
			</dialog>
			<!-- Universl toast/notification -->
			@components.Toast()
			<dialog id="app-confirm" x-data>
				@components.ConfirmModal()
			</dialog>
			<dialog id="app-alert">
				@components.AlertModal()
			</dialog>
			for _, js := range props.ExtraJS {
				<script src={ js }></script>
			}
			<div id="global-spinner" class="global-spinner">
				<div class="loader"></div>
			</div>
		</body>
	</html>
}
