package tanks

import "github.com/AVZotov/draft-survey/web/components"

templ BwBlock(tp components.TanksPageProps) {
	<div class="ttbl-wrap">
		<div id="density-warning"></div>
		<table class="ttbl" id="bw-tbl">
			<thead>
				<tr class="tr-grp">
					<th class="th-ph" rowspan="2"></th>
					<th class="th-ph" rowspan="2"></th>
					<th class="th-div" rowspan="2"></th>
					<th class="th-ini" colspan="4">Initial</th>
					<th class="th-div" rowspan="2"></th>
					<th class="th-ph" rowspan="2"></th>
				</tr>
				<tr class="tr-sub">
					<th class="th-num ts-ini">Sound, m</th>
					<th class="th-num ts-ini">Vol, m³</th>
					<th class="th-num ts-ini">Density</th>
					<th class="th-num ts-ini">MT</th>
				</tr>
			</thead>
			<tbody id="bw-tanks-items" class="t-row">
				for _, tank := range tp.Survey.Drafts[tp.DraftIndex].BallastWaterTanks {
					@components.TankItem(tp.Survey.ID, tp.DraftIndex, tank, false)
				}
			</tbody>
		</table>
	</div>
}
