package tanks

import "github.com/AVZotov/draft-survey/web/components"
import "github.com/AVZotov/draft-survey/internal/calculation"
import "github.com/AVZotov/draft-survey/internal/format"

templ TableFormHeader(tp components.TanksPageProps, results calculation.DraftResult, isOOB bool) {
	<div
		id="bw-table-header"
		class="tank-block-header"
		if isOOB {
			hx-swap-oob="true"
		}
	>
		<div class="blk-label">
			<span class="blk-dot"></span>Ballast Water Tanks
		</div>
		<div class="blk-totals">
			<div class="total-chip tc--ini">
				<span class="total-chip-lbl">{ string(tp.Survey.Drafts[tp.DraftIndex].Type) }</span>
				<span
					id="bw-total-weight"
					class="total-chip-val"
				>
					{ format.WeightFormatted(results.TotalBwTanksWeight) } MT
				</span>
			</div>
		</div>
	</div>
}
