package tanks

import "github.com/AVZotov/draft-survey/internal/types"

templ TableFormHeader(id, title, totalWeight string, draftType types.DraftType, isOOB bool) {
	<div
		id={ id }
		class="tank-block-header"
		if isOOB {
			hx-swap-oob="true"
		}
	>
		<div class="blk-label">
			<span class="blk-dot"></span>{ title }
		</div>
		<div class="blk-totals">
			<div
				class={ templ.Classes(
        "total-chip",
        templ.KV("tc--ini", draftType == types.DraftTypeInitial),
        templ.KV("tc--mid", draftType == types.DraftTypeIntermediate),
        templ.KV("tc--fin", draftType == types.DraftTypeFinal),
				) }
			>
				<span class="total-chip-lbl">{ draftType }</span>
				<span
					class="total-chip-val"
				>
					{ totalWeight }
				</span>
			</div>
		</div>
	</div>
}
