package survey

import (
	"fmt"
	"github.com/AVZotov/draft-survey/internal/types"
)

templ NewSurveyActionBar(survey *types.Survey) {
	<div class="action-bar">
		<div class="action-bar-info">
			<svg viewBox="0 0 24 24"><circle cx="12" cy="12" r="10"></circle><path d="M12 16v-4M12 8h.01"></path></svg>
			Required fields: Vessel Name, Lightship, LBP, Breadth, Summer Draft / DWT / TPC and etc
		</div>
		<div class="action-bar-btns">
			<a
				class="btn btn-primary"
				href={ fmt.Sprintf("/survey/%s/draft", survey.ID) }
			>
				Proceed to Draft Readings
				<svg viewBox="0 0 24 24"><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
			</a>
		</div>
	</div>
}
