package components

templ CountrySelectWrapper(url, loadURL, fieldName string) {
	<div
		hx-post={ url }
		hx-trigger="change consume"
		hx-include="this"
		hx-swap="none"
		class="field-wrap-col"
	>
		<div
			hx-get={ loadURL }
			hx-trigger="load"
			hx-swap="outerHTML"
			hx-sync="this:replace"
		></div>
	</div>
}
