package components

templ CountrySelect(props CountrySelectProps) {
	<div class="field-wrap-col" x-data>
		<div class="select-wrap">
			<select
				x-on:change="
					$refs.code.value = $el.value;
					$refs.name.value = $el.options[$el.selectedIndex].text
				"
			>
				<option value="">Select country…</option>
				for _, c := range props.Countries {
					<option
						value={ c.CountryCode }
						selected?={ c.CountryCode == props.SelectedCode }
					>{ c.Name }</option>
				}
			</select>
		</div>
		<input type="hidden" name={ props.CountryCodeID } x-ref="code" value={ props.SelectedCode }/>
		<input type="hidden" name={ props.CountryNameID } x-ref="name" value={ props.SelectedName }/>
	</div>
}
