package components

import "fmt"
import "github.com/AVZotov/draft-survey/internal/constants"
import "github.com/AVZotov/draft-survey/internal/types"
import "github.com/AVZotov/draft-survey/data/dictionaries"
import "github.com/AVZotov/draft-survey/internal/format"

templ SeaCondition(scp SeaConditionProps) {
	<div class="sea-bar">
		<label
			class="sea-option"
			if scp.DraftIndex == nil {
				hx-headers={ fmt.Sprintf(`{"%s": "%s"}`, constants.HXSeaType, types.SeaConditionTypeWave) }
			} else {
				hx-headers={ fmt.Sprintf(`{"%s": "%s", "%s": "%d"}`, constants.HXSeaType, types.SeaConditionTypeWave, constants.HXDraftIndex, *scp.DraftIndex) }
			}
		>
			<input
				hx-get={ fmt.Sprintf("/dictionary/sea-options") }
				hx-target="next select"
				hx-swap="outerHTML"
				hx-trigger="change"
				type="radio"
				name={ fmt.Sprintf("%s-%s", constants.SeaType, format.IntOrEmpty(scp.DraftIndex)) }
				value={ types.SeaConditionTypeWave }
				checked?={ scp.SeaCondition.Type == types.SeaConditionTypeWave }
			/>
			Wave
		</label>
		<div class="sea-select-wrap">
			@SeaSelect(scp)
		</div>
		<label
			class="sea-option"
			if scp.DraftIndex == nil {
				hx-headers={ fmt.Sprintf(`{"%s": "%s"}`, constants.HXSeaType, types.SeaConditionTypeIce) }
			} else {
				hx-headers={ fmt.Sprintf(`{"%s": "%s", "%s": "%d"}`, constants.HXSeaType, types.SeaConditionTypeIce, constants.HXDraftIndex, *scp.DraftIndex) }
			}
		>
			<input
				hx-get={ fmt.Sprintf("/dictionary/sea-options") }
				hx-target="previous select"
				hx-swap="outerHTML"
				hx-trigger="change"
				type="radio"
				name={ fmt.Sprintf("%s-%s", constants.SeaType, format.IntOrEmpty(scp.DraftIndex)) }
				value={ types.SeaConditionTypeIce }
				checked?={ scp.SeaCondition.Type == types.SeaConditionTypeIce }
			/>
			Ice
		</label>
	</div>
}

templ SeaSelect(scp SeaConditionProps) {
	{{
		conditions := make([]string, 0)
		if scp.SeaCondition.Type == types.SeaConditionTypeWave {
			conditions = dictionaries.WaveCondition
		}
		if scp.SeaCondition.Type == types.SeaConditionTypeIce {
			conditions = dictionaries.IceCondition
		}
	}}
	<select name={ fmt.Sprintf("%s-%s", constants.SeaCondition, format.IntOrEmpty(scp.DraftIndex)) }>
		if len(conditions) == 0 {
			<option value="">—</option>
		} else {
			<option value="">select condition</option>
			for _, condition := range conditions {
				<option value={ condition } selected?={ condition == string(scp.SeaCondition.Wave) || condition == string(scp.SeaCondition.Ice) }>{ condition }</option>
			}
		}
	</select>
}
