package components

type ToastKind string

const (
	ToastSuccess ToastKind = "success"
	ToastWarning ToastKind = "warn"
	ToastError   ToastKind = "error"
	ToastInfo    ToastKind = "info"
)

templ Toast(kind ToastKind, header, message string) {
	<div hx-swap-oob="beforeend:#toast-container">
		<div
			x-init="setTimeout(() => $el.remove(), 3000)"
			class={ "notice-item notice-item--" + string(kind) }
		>
			<div class="notice-item-content">
				<div class="notice-item-header">{ header }</div>
				<div class="notice-item-message">{ message }</div>
			</div>
			<button
				x-on:click="$el.closest('.notice-item').remove()"
				class="notice-item-close"
			>
				@IconClose()
			</button>
		</div>
	</div>
}
