package widgets

import "github.com/AVZotov/draft-survey/web/components"

templ Header() {
	<header class="app-header">
		<div class="app-header-left">
			@components.Logo()
			@components.LogoText()
		</div>
	</header>
}
