package pages

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"
import "github.com/AVZotov/draft-survey/web/widgets/drafts"
import "github.com/AVZotov/draft-survey/web/components"

templ DraftReadings(lp components.LayoutProps, dp components.DraftPageProps) {
	@layouts.Layout(lp) {
		@widgets.HeaderUser(lp.User)
		@drafts.DraftForm(dp)
		@drafts.DraftActionBar(lp.Survey)
		@widgets.Footer()
	}
}
