package pages

import (
	"github.com/AVZotov/draft-survey/web/components"
	"github.com/AVZotov/draft-survey/web/layouts"
	"github.com/AVZotov/draft-survey/web/widgets"
	"github.com/AVZotov/draft-survey/web/widgets/survey"
)

templ NewSurvey(lp components.LayoutProps, sp components.SurveyPageProps) {
	@layouts.Layout(lp) {
		@widgets.HeaderUser(lp.User)
		@survey.NewSurveyForm(sp)
		@survey.NewSurveyActionBar(&sp.Survey)
		@widgets.Footer(lp.AppVersion)
	}
}
