package pages

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"
import "github.com/AVZotov/draft-survey/web/components"
import "github.com/AVZotov/draft-survey/web/widgets/survey-list"

templ SurveyList(lp components.LayoutProps, slp components.SurveyListProps) {
	@layouts.Layout(lp) {
		@widgets.HeaderUser(lp.User)
		@surveylist.Form(lp, slp)
		@widgets.Footer()
	}
}
