package pages

import (
	"github.com/AVZotov/draft-survey/internal/types"
	"github.com/AVZotov/draft-survey/web/components"
	"github.com/AVZotov/draft-survey/web/layouts"
	"github.com/AVZotov/draft-survey/web/widgets"
	"github.com/AVZotov/draft-survey/web/widgets/tanks"
)

templ Tanks(lp components.LayoutProps, tanksProps components.TanksPageProps, results types.DraftResult) {
	@layouts.Layout(lp) {
		@widgets.HeaderUser(lp.User)
		@tanks.Form(lp, tanksProps)
		@tanks.TanksActionBar(tanksProps, results)
		@widgets.Footer(lp.AppVersion)
	}
}
