package surveylist

templ Surveys() {
	<div class="survey-grid">
		<div class="survey-grid--header">
			<div class="survey-cell survey-cell--header">Vessel</div>
			<div class="survey-cell survey-cell--header">Date</div>
			<div class="survey-cell survey-cell--header">Port</div>
			<div class="survey-cell survey-cell--header">Destination</div>
			<div class="survey-cell survey-cell--header">Operation</div>
			<div class="survey-cell survey-cell--header">Cargo, MT</div>
			<div class="survey-cell survey-cell--header">Status</div>
			<div class="survey-cell survey-cell--header"></div>
		</div>
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
		@SurveyRow()
	</div>
}
