package surveylist

import "fmt"

import "github.com/AVZotov/draft-survey/internal/handler/fields"

templ Surveys() {
	<div class="survey-grid" id="survey-grid">
		<div class="survey-grid--header">
			<div class="survey-cell survey-cell--header">Vessel</div>
			<div class="survey-cell survey-cell--header">Date</div>
			<div class="survey-cell survey-cell--header">Port</div>
			<div class="survey-cell survey-cell--header">Destination</div>
			<div class="survey-cell survey-cell--header">Operation</div>
			<div class="survey-cell survey-cell--header">Cargo, MT</div>
			<div class="survey-cell survey-cell--header">Status</div>
			<div class="survey-cell survey-cell--header"></div>
		</div>
		<div
			id="survey-results"
			class="survey-scroll"
			hx-get={ fmt.Sprintf("/survey-list/rows?offset=0&limit=%d", fields.SurveyListLimit) }
			hx-trigger="intersect once threshold:0"
			hx-swap="outerHTML"
			hx-indicator="#global-spinner"
		></div>
	</div>
}
