package drafts

import (
	"fmt"
	"github.com/AVZotov/draft-survey/internal/types"
	"strconv"
	"time"
)

templ DraftActionBar(survey *types.Survey) {
	<div class="action-bar">
		<div class="ab-info">
			<span class="ab-vessel">{ survey.VesselData.Name }</span>
			<span class="ab-meta">IMO { survey.VesselData.IMO } · Loading · { survey.Country.Name } · { time.Now().Format("Mon, 02 Jan 2006") } </span>
		</div>
		<div class="ab-btns">
			@draftActionButtons(survey)
		</div>
		<div class="ab-btns">
			<a
				hx-get={ fmt.Sprintf("/survey/%s/results/validate", survey.ID) }
				class="btn btn-primary"
			>
				Calculate &amp; View Results
				<svg viewBox="0 0 24 24"><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
			</a>
		</div>
	</div>
}

templ buttonStartDraft(surveyID string, index int) {
	<button
		class="btn btn-primary"
		hx-post={ "/api/v1/survey/" + surveyID + "/draft/" + strconv.Itoa(index) + "/start" }
		hx-include="#draft-form"
		hx-swap="none"
	>
		▶ Start DS
		<svg viewBox="0 0 24 24"><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
	</button>
}

templ buttonEndDraft(surveyID string, index int) {
	<button
		class="btn btn-primary"
		hx-post={ "/api/v1/survey/" + surveyID + "/draft/" + strconv.Itoa(index) + "/finish" }
		hx-include="#draft-form"
		hx-swap="none"
	>
		⏹ Finish DS
		<svg viewBox="0 0 24 24"><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
	</button>
}

templ buttonAddIntermediate(surveyID string) {
	<button
		class="btn btn-secondary"
		hx-post={ "/api/v1/survey/" + surveyID + "/draft/add-intermediate" }
		hx-swap="none"
	>
		+ Add Intermediate
		<svg viewBox="0 0 24 24"><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
	</button>
}

templ buttonAddFinal(surveyID string) {
	<button
		class="btn btn-primary"
		hx-post={ "/api/v1/survey/" + surveyID + "/draft/add-final" }
		hx-swap="none"
	>
		+ Add Final
		<svg viewBox="0 0 24 24"><path d="M5 12h14M12 5l7 7-7 7"></path></svg>
	</button>
}

func nextDraftAction(survey *types.Survey) string {
	if survey.Drafts[len(survey.Drafts)-1].Status == types.DraftStatusPending {
		return "start"
	}

	if survey.Drafts[len(survey.Drafts)-1].Status == types.DraftStatusActive {
		return "finish"
	}
	return "add"
}

templ draftActionButtons(survey *types.Survey) {
	switch nextDraftAction(survey) {
		case "start":
			@buttonStartDraft(survey.ID, len(survey.Drafts)-1)
		case "finish":
			@buttonEndDraft(survey.ID, len(survey.Drafts)-1)
		case "add":
			//@buttonAddIntermediate(survey.ID)
			@buttonAddFinal(survey.ID)
	}
}
