package drafts

import (
	"fmt"

	"github.com/AVZotov/draft-survey/internal/constants"
	"github.com/AVZotov/draft-survey/internal/types"
	"github.com/AVZotov/draft-survey/web/components"
)

templ DraftBlock(dp components.DraftPageProps, draftIndex int) {
	<div
		class={ templ.Classes(
        "draft-block",
        templ.KV("draft-block--ini", dp.Survey.Drafts[draftIndex].Type == types.DraftTypeInitial),
        templ.KV("draft-block--fin", dp.Survey.Drafts[draftIndex].Type == types.DraftTypeFinal),
        templ.KV("draft-block--mid", dp.Survey.Drafts[draftIndex].Type == types.DraftTypeIntermediate),
        templ.KV("draft-block--pending", dp.Survey.Drafts[draftIndex].Status == types.DraftStatusPending),
    ) }
	>
		<div class="block-header">
			<div class="block-label">
				<span class="block-dot"></span>
				{ draftTitle(dp.Survey.Drafts[draftIndex], draftIndex) }
			</div>
		</div>
		<!-- ══════════════ DRAFT BLOCK══════════════════════════════ -->
		<!-- Sea Condition bar -->
		<div
			hx-headers={ fmt.Sprintf(`{"%s": "%s"}`, constants.HXDraftBlock, constants.SeaConditionBlock) }
			hx-trigger="change changed delay:500ms"
			hx-include="this"
			hx-sync="this:replace"
			hx-swap="none"
			hx-put={ fmt.Sprintf("/api/v1/survey/%s/draft/%d", dp.Survey.ID, draftIndex) }
		>
			@components.SeaCondition(components.SeaConditionProps{
				SeaCondition: dp.Survey.Drafts[draftIndex].SeaCondition,
				DraftIndex:   &draftIndex,
			})
		</div>
		<!-- Port | Vessel | Stbd -->
		@Marks(dp, draftIndex)
		<!-- Trim List Deflection panel-->
		<div class="calc-panel calc-panel--3">
			<div class="cp-cell">
				<span class="cp-lbl">Trim data</span>
			</div>
			<div class="cp-cell">
				<span class="cp-lbl">List Data</span>
			</div>
			<div class="cp-cell">
				<span class="cp-lbl">Sagg/Hogg</span>
			</div>
		</div>
		<!-- PP distances + Keel + Calculated panel-->
		@PPKeel(dp, draftIndex)
		<!-- Hydrostatic data -->
		@Hydrostatics(dp, draftIndex)
		<!-- Deductibles and Table density-->
		@Deductibles(dp, draftIndex)
	</div>
}

func draftTitle(draft types.Draft, draftIndex int) string {
	switch draft.Type {
	case types.DraftTypeInitial:
		return "Initial Draft"
	case types.DraftTypeFinal:
		return "Final Draft"
	default:
		return fmt.Sprintf("Intermediate Draft %d", draftIndex)
	}
}
