package drafts

import (
	"fmt"

	"github.com/AVZotov/draft-survey/internal/constants"
	"github.com/AVZotov/draft-survey/internal/types"
	"github.com/AVZotov/draft-survey/web/components"
)

templ DraftBlock(dp components.DraftPageProps, draftIndex int, sr types.SurveyResult) {
	{{ dr := sr.DraftTotals[draftIndex].DraftResult }}
	<div
		class={ templ.Classes(
        "draft-block",
        templ.KV("draft-block--ini", dp.Survey.Drafts[draftIndex].Type == types.DraftTypeInitial),
        templ.KV("draft-block--fin", dp.Survey.Drafts[draftIndex].Type == types.DraftTypeFinal),
        templ.KV("draft-block--mid", dp.Survey.Drafts[draftIndex].Type == types.DraftTypeIntermediate),
        templ.KV("draft-block--pending", dp.Survey.Drafts[draftIndex].Status == types.DraftStatusPending),
    ) }
	>
		<div class="block-header">
			<div class="block-label">
				<span class="block-dot"></span>
				{ draftTitle(dp.Survey.Drafts[draftIndex], draftIndex) }
			</div>
			<div
				class={ templ.Classes(
            "block-header-fields",
            templ.KV("block-header-fields--2col", dp.Survey.Drafts[draftIndex].Type == types.DraftTypeInitial),
            templ.KV("block-header-fields--3col", dp.Survey.Drafts[draftIndex].Type != types.DraftTypeInitial),
        ) }
				hx-headers={ fmt.Sprintf(`{"%s": "%s"}`, constants.HXDraftBlock, constants.DraftInfoBlock) }
				hx-put={ fmt.Sprintf("/api/v1/survey/%s/draft/%d", dp.Survey.ID, draftIndex) }
				hx-trigger="change changed delay:500ms"
				hx-sync="this:replace"
				hx-swap="none"
				hx-include="this"
			>
				<input
					class="block-header-input"
					type="text"
					name={ fmt.Sprintf("%s-%d", constants.LoadPort, draftIndex) }
					value={ draftLoadPort(dp.Survey.Drafts, draftIndex) }
					placeholder="Load port…"
				/>
				if dp.Survey.Drafts[draftIndex].Type != types.DraftTypeInitial {
					<input
						class="block-header-input"
						type="text"
						name={ fmt.Sprintf("%s-%d", constants.DischargePort, draftIndex) }
						value={ draftDischargePort(dp.Survey.Drafts, draftIndex) }
						placeholder="Discharge port…"
					/>
				}
				<input
					class="block-header-input"
					type="text"
					name={ fmt.Sprintf("%s-%d", constants.ProductGrade, draftIndex) }
					value={ draftGrade(dp.Survey.Drafts, draftIndex) }
					placeholder="Grade…"
				/>
			</div>
		</div>
		<!-- ══════════════ DRAFT BLOCK══════════════════════════════ -->
		<!-- Sea Condition & Holds bars -->
		<div
			hx-swap="none"
		>
			@components.SeaCondition(components.SeaConditionProps{
				SeaCondition: dp.Survey.Drafts[draftIndex].SeaCondition,
				DraftIndex:   &draftIndex,
				SurveyID:     dp.Survey.ID,
			})
			if dp.Survey.Drafts[draftIndex].Type != types.DraftTypeInitial {
				@HoldsBar(dp, draftIndex)
			} else {
				@HoldsBarTotal(dp)
			}
		</div>
		<!-- Holds bar -->
		<!-- Port | Vessel | Stbd -->
		@Marks(dp, draftIndex)
		<!-- PP distances + Keel + Calculated panel-->
		@PPKeel(dp, draftIndex)
		<!-- Calculation Panel -->
		@CalcPanel(dp.Survey, draftIndex, dr, false)
		<!-- Hydrostatic data -->
		@Hydrostatics(dp, draftIndex, dr)
		<!-- Deductibles and Table density-->
		@Deductibles(dp, draftIndex, dr)
		<!-- Totals section-->
		<div style="margin-top: auto;">
			@Totals(dp.Survey, draftIndex, sr)
		</div>
	</div>
}

func draftTitle(draft types.Draft, draftIndex int) string {
	switch draft.Type {
	case types.DraftTypeInitial:
		return "Initial Draft"
	case types.DraftTypeFinal:
		return "Final Draft"
	default:
		return fmt.Sprintf("Int Draft %d", draftIndex)
	}
}

func draftLoadPort(drafts []types.Draft, index int) string {
	if drafts[index].LoadPort.PortManual != "" {
		return drafts[index].LoadPort.PortManual
	}
	if len(drafts) > 0 {
		return drafts[0].LoadPort.PortManual
	}
	return ""
}

func draftDischargePort(drafts []types.Draft, index int) string {
	if drafts[index].DischargePort.PortManual != "" {
		return drafts[index].DischargePort.PortManual
	}
	if len(drafts) > 0 {
		return drafts[0].DischargePort.PortManual
	}
	return ""
}

func draftGrade(drafts []types.Draft, index int) string {
	if drafts[index].ProductGrade != "" {
		return drafts[index].ProductGrade
	}
	if len(drafts) > 0 {
		return drafts[0].ProductGrade
	}
	return ""
}
