package drafts

import "fmt"
import "github.com/AVZotov/draft-survey/internal/constants"
import "github.com/AVZotov/draft-survey/internal/format"
import "github.com/AVZotov/draft-survey/internal/types"
import "github.com/AVZotov/draft-survey/internal/calculation"

templ CalcPanel(survey types.Survey, draftIndex int, isOOB bool) {
	{{ cd := calculation.CalcDraft(survey.Drafts[draftIndex], survey.VesselData) }}
	<div
		class="calc-panel"
		id={ fmt.Sprintf("%s-%d", constants.CalcPanel, draftIndex) }
		if isOOB {
			hx-swap-oob="morph"
		}
	>
		<div class="cp-cell">
			<span class="cp-lbl">mean F&amp;A m</span>
			<span class="cp-val">{ cd.MeanFwdAft }</span>
		</div>
		<div class="cp-cell">
			<span class="cp-lbl">Obs. Trim m</span>
			<span class="cp-val">{ cd.ObservedTrim } { format.TrimDirection(cd.ObservedTrim) }</span>
		</div>
		<div class="cp-cell">
			<span class="cp-lbl">True Trim m</span>
			<span class="cp-val">{ cd.TrueTrim } { format.TrimDirection(cd.ObservedTrim) }</span>
		</div>
		<div class="cp-cell">
			<span class="cp-lbl">List °</span>
			<span class="cp-val">{ cd.ListDegrees } { format.ListDirection(cd.ListMeters) }</span>
		</div>
		<div class="cp-cell">
			<span class="cp-lbl">Defl. cm</span>
			<span class="cp-val">{ cd.Deflection }</span>
		</div>
		<div class="cp-cell cp-cell--mmc">
			<span class="cp-lbl">MMC</span>
			<span class="cp-val">{ cd.MMC }</span>
		</div>
	</div>
}
