package drafts

import (
	"fmt"
	"github.com/AVZotov/draft-survey/internal/constants"
	"github.com/AVZotov/draft-survey/internal/format"
	"github.com/AVZotov/draft-survey/internal/handler/fields"
	"github.com/AVZotov/draft-survey/internal/handler/routes"
	"github.com/AVZotov/draft-survey/internal/types"
	"github.com/AVZotov/draft-survey/web/components"
)

templ Deductibles(dp components.DraftPageProps, draftIndex int, dr types.DraftResult) {
	<!-- Deductibles and Table density-->
	<div class="deduct-section">
		<div class="sec-title">Deductibles &amp; Density</div>
		@DeductiblesGrid(dp.Survey, draftIndex, dr)
		<a
			class="btn btn-ghost--ini"
			href={ routes.Tanks(dp.Survey.ID, draftIndex) }
		>
			<svg viewBox="0 0 24 24">
				<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
				<polyline points="9 22 9 12 15 12 15 22"></polyline>
			</svg>
			BW / FW Tanks →
		</a>
	</div>
}

templ DeductiblesGrid(survey types.Survey, draftIndex int, dr types.DraftResult) {
	{{ draft := survey.Drafts[draftIndex] }}
	<div
		class="deduct-grid"
		id={ fmt.Sprintf("%s-%d", constants.Deductibles, draftIndex) }
		hx-put={ routes.APIDraftUpdate(survey.ID, draftIndex) }
		hx-trigger="change changed delay:500ms"
		hx-include="this"
		hx-swap="none"
	>
		<div class="df">
			<label>Tbl Density</label>
			<input readonly value={ format.FloatOrEmpty(survey.VesselData.TableDensity) } type="number" placeholder="0.000" step="any"/>
		</div>
		<div class="df">
			<label>Ballast Water, MT</label>
			<input readonly value={ dr.TotalBwTanksWeight } placeholder="0.000" step="any" type="number"/>
		</div>
		<div class="df">
			<label>MDO, MT</label>
			@components.XInput(fmt.Sprintf("%s-%d", fields.FieldMDO, draftIndex), draft.Deductibles.MDO)
		</div>
		<div class="df">
			<label>Lube Oil, MT</label>
			@components.XInput(fmt.Sprintf("%s-%d", fields.FieldLubOil, draftIndex), draft.Deductibles.LubOil)
		</div>
		<div class="df">
			<label>Bilge Water, MT</label>
			@components.XInput(fmt.Sprintf("%s-%d", fields.FieldBilgeWater, draftIndex), draft.Deductibles.BilgeWater)
		</div>
		<div class="df">
			<label>DockW Density</label>
			@components.XInput(fmt.Sprintf("%s-%d", fields.FieldDockwaterDensity, draftIndex), draft.Density)
		</div>
		<div class="df">
			<label>Fresh Water, MT</label>
			<input readonly value={ dr.TotalFwTanksWeight } placeholder="0.000" step="any" type="number"/>
		</div>
		<div class="df">
			<label>HFO, MT</label>
			@components.XInput(fmt.Sprintf("%s-%d", fields.FieldHFO, draftIndex), draft.Deductibles.HFO)
		</div>
		<div class="df">
			<label>Others, MT</label>
			@components.XInput(fmt.Sprintf("%s-%d", fields.FieldOthers, draftIndex), draft.Deductibles.Others)
		</div>
		<div class="df">
			<label>Total Deduct, MT</label>
			<input readonly value={ dr.TotalDeductibles } type="number" placeholder="0.000" step="any"/>
		</div>
	</div>
}
