package drafts

import (
	"strconv"

	"github.com/AVZotov/draft-survey/web/components"
)

templ HoldsBarTotal(dp components.DraftPageProps) {
	{{ total := 0 }}
	{{ if dp.Survey.VesselData.HoldsTotal != nil { total = *dp.Survey.VesselData.HoldsTotal } }}
	<div
		class="holds-bar"
	>
		<span class="holds-bar__label" style="font-size: 0.7rem;">Holds to load total: { strconv.Itoa(total) } </span>
	</div>
}
