package drafts

import (
	"fmt"
	"github.com/AVZotov/draft-survey/internal/constants"
	"github.com/AVZotov/draft-survey/internal/format"
	"github.com/AVZotov/draft-survey/web/components"
)

templ PPKeel(dp components.DraftPageProps, draftIndex int) {
	{{ draft := dp.Survey.Drafts[draftIndex] }}
	<div class="pp-keel-bar">
		<div class="pp-group">
			<div class="pp-group-title">Fwd — distances &amp; keel</div>
			<div class="pp-fields">
				<input name={ fmt.Sprintf("%s-%d", constants.DFwd, draftIndex) } value={ format.FloatOrEmpty(draft.DistancePPFwd) } type="number" placeholder="dFwd, m" step="any"/>
				<select class="dir-sel" name={ fmt.Sprintf("%s-%d", constants.DFwdDir, draftIndex) }>
					<option selected?={ draft.PPFwdDirection == "A" }>A</option>
					<option selected?={ draft.PPFwdDirection == "F" }>F</option>
				</select>
				<span class="pp-unit">A/F</span>
			</div>
			<div class="keel-fields">
				<input name={ fmt.Sprintf("%s-%d", constants.KeelFwd, draftIndex) } value={ format.FloatOrEmpty(draft.KeelFwd) } type="number" placeholder="Fk, mm" step="any"/>
				<span class="pp-unit">mm keel</span>
			</div>
		</div>
		<div class="pp-group">
			<div class="pp-group-title">Mid — distances &amp; keel</div>
			<div class="pp-fields">
				<input name={ fmt.Sprintf("%s-%d", constants.DMid, draftIndex) } value={ format.FloatOrEmpty(draft.DistancePPMid) } type="number" placeholder="dMid, m" step="any"/>
				<select class="dir-sel" name={ fmt.Sprintf("%s-%d", constants.DMidDir, draftIndex) }>
					<option selected?={ draft.PPMidDirection == "A" }>A</option>
					<option selected?={ draft.PPMidDirection == "F" }>F</option>
				</select>
				<span class="pp-unit">A/F</span>
			</div>
			<div class="keel-fields">
				<input name={ fmt.Sprintf("%s-%d", constants.KeelMid, draftIndex) } value={ format.FloatOrEmpty(draft.KeelMid) } type="number" placeholder="Mk, mm" step="any"/>
				<span class="pp-unit">mm keel</span>
			</div>
		</div>
		<div class="pp-group">
			<div class="pp-group-title">Aft — distances &amp; keel</div>
			<div class="pp-fields">
				<input name={ fmt.Sprintf("%s-%d", constants.DAft, draftIndex) } value={ format.FloatOrEmpty(draft.DistancePPAft) } type="number" placeholder="dAft, m" step="any"/>
				<select class="dir-sel" name={ fmt.Sprintf("%s-%d", constants.DAftDir, draftIndex) }>
					<option selected?={ draft.PPAftDirection == "A" }>A</option>
					<option selected?={ draft.PPAftDirection == "F" }>F</option>
				</select>
				<span class="pp-unit">A/F</span>
			</div>
			<div class="keel-fields">
				<input name={ fmt.Sprintf("%s-%d", constants.KeelAft, draftIndex) } value={ format.FloatOrEmpty(draft.KeelAft) } type="number" placeholder="Ak, mm" step="any"/>
				<span class="pp-unit">mm keel</span>
			</div>
		</div>
	</div>
}
