package web

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"
import "github.com/AVZotov/draft-survey/web/components"

templ Dashboard(lp components.LayoutProps) {
	@layouts.Layout(lp) {
		@widgets.HeaderUser(lp.User)
		@widgets.DashboardForm(lp.User)
		@widgets.Footer(lp.AppVersion)
	}
}
