package web

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"

templ Drafts() {
	@layouts.Layout(ProfilePageProps) {
		@widgets.HeaderUser(ProfilePageProps.User)
		@widgets.DraftsForm()
		@widgets.DraftsActionBar()
		@widgets.Footer()
	}
}
