package web

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"
import "github.com/AVZotov/draft-survey/web/widgets/drafts"
import "github.com/AVZotov/draft-survey/web/components"

templ DraftReadings(props components.LayoutProps) {
	@layouts.Layout(props) {
		@widgets.HeaderUser(props.User)
		@drafts.DraftForm(props.Survey)
		@drafts.DraftActionBar(props.Survey)
		@widgets.Footer()
	}
}
