package web

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"
import "github.com/AVZotov/draft-survey/web/components"

templ Profile(bannerProps components.BannerProps) {
	@layouts.Layout(ProfilePageProps) {
		<header>
			@widgets.Header()
		</header>
		<main>
			@widgets.ProfileForm()
		</main>
		<footer>
			@widgets.Footer()
		</footer>
		if bannerProps.Header != "" {
			@widgets.AutoShowBanner(bannerProps)
		}
	}
}
