package web

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"

templ Settings() {
	@layouts.Layout(ProfilePageProps) {
		@widgets.HeaderUser(ProfilePageProps.User)
		@widgets.SettingsForm()
		@widgets.Footer("")
	}
}
