package web

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"

templ SurveyList() {
	@layouts.Layout(ProfilePageProps) {
		@widgets.HeaderUser(ProfilePageProps.User)
		@widgets.SurveyListForm()
		@widgets.Footer()
	}
}
