package web

import "github.com/AVZotov/draft-survey/web/layouts"
import "github.com/AVZotov/draft-survey/web/widgets"

templ Tanks() {
	@layouts.Layout(ProfilePageProps) {
		@widgets.HeaderUser(ProfilePageProps.User)
		@widgets.TanksForm()
		@widgets.TanksActionBar()
		@widgets.Footer()
	}
}
